/* bateau 1 */
.tangram--bateau1 .figure1 {
    transform: translate(242px, -108px) rotate(45deg);
    transition: transform 2s;
}

.tangram--bateau1 .figure2 {
    transform: skew(-45deg) translate(255px,257px);
    transition: transform 2s;
}

.tangram--bateau1 .figure3 {
    transform: translate(160px, 75px);
    transition: transform 2s;
}

.tangram--bateau1 .figure4 {
    transform: translate(-258px, 256px);
    transition: transform 3s;
}

.tangram--bateau1 .figure5 {
    transform: translate(257px, 768px) rotate(-90deg);
    transition: transform 3s;
}

.tangram--bateau1 .figure6 {
    transform: translate(125px, 386px) rotate(90deg) ;
    transition: transform 3s;
}

.tangram--bateau1 .figure7 {
    transform: translate(0px, 256px);
    transition: transform 3s;
}