.tangram--bateau4 .figure1 {
    transform: rotate(225deg) translate(-767px, -249px);
    transition: transform 2s;
}

.tangram--bateau4 .figure2 {
    transform: rotate(45deg) skew(-45deg) translate(759px,250px);
    transition: transform 2s;
}

.tangram--bateau4 .figure3 {
    transform: translate(542px, 256px) rotate(45deg);
    transition: transform 2s;
}

.tangram--bateau4 .figure4 {
    transform: rotate(180deg) translate(-542px, -513px);
    transition: transform 2s;
}

.tangram--bateau4 .figure5 {
    transform: translate(798px, 511px) rotate(180deg);
    transition: transform 2s;

}

.tangram--bateau4 .figure6 {
    transform: translate(467px, -1px) rotate(135deg);
    transition: transform 2s;

}

.tangram--bateau4 .figure7 {
    transform: translate(465px, 256px) rotate(135deg);
    transition: transform 2s;

}