/* bateau 1 */
.tangram--bateau1 .figure1 {
    top: -107px;
    left: 249px;
    transform: rotate(45deg);
}

.tangram--bateau1 .figure2 {
    left: -2px;
    top: 257px;
}

.tangram--bateau1 .figure3 {
    top: 75px;
    left: 168px;
}

.tangram--bateau1 .figure4 {
    top: 256px;
    right: 514px;
}

.tangram--bateau1 .figure5 {
    left: 257px;
    top: 768px;
    transform: rotate(-90deg);
}

.tangram--bateau1 .figure6 {
    left: 126px;
    top: 385px;
    transform: rotate(90deg);
}

.tangram--bateau1 .figure7 {
    top:256px;
    left:0;
}