.tangram--bateau3 .figure1 {
    top: 780px;
    left: 685px;
    transform: rotate(225deg);
}

.tangram--bateau3 .figure2 {
    left: 500px;
    top: 600px;
    transform: rotate(45deg) skew(-45deg);
}

.tangram--bateau3 .figure3 {
    top: 290px;
    left: 800px;
    transform: rotate(75deg);

}

.tangram--bateau3 .figure4 {
    left: 578px;
    top: 160px;
    transform: rotate(30deg);
}

.tangram--bateau3 .figure5 {
    /*already positionned*/
}

.tangram--bateau3 .figure6 {
    bottom: 0;
    left: 1024px;
    top: 417px;
    transform: rotate(120deg);
}

.tangram--bateau3 .figure7 {
    top:256px;
    left:0;
}
