/* bateau 1 */
.tangram--bateau1 .figure1 {
    /*already positionned wow*/
}

.tangram--bateau1 .figure2 {
    left: 256px;
}

.tangram--bateau1 .figure3 {
    transform: rotate(45deg);
    top: 128px;
    left: 128px;
}

.tangram--bateau1 .figure4 {
    left: 128px;
    top: 128px;
}

.tangram--bateau1 .figure5 {
    /*already positionned*/
}

.tangram--bateau1 .figure6 {
    bottom: 0;
}

.tangram--bateau1 .figure7 {
    top:256px;
    left:0;
}